<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.filipebezerra.placetoremind"
    >
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--         The BACKGROUND_LOCATION permission is required for geofencing functionality to work on Q+ -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
    Solves FATAL EXCEPTION:
        Caused by: java.lang.SecurityException: Neither user ? nor current process has
        android.permission.WAKE_LOCK.
        See also: https://github.com/bkonyi/FlutterGeofencing/pull/16

        In fact on location-samples/Geofencing this permission is added in the sample app
        See also: https://github.com/android/location-samples/blob/master/Geofencing/app/src/main/AndroidManifest.xml#L20
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
    Allows an application to receive the Intent.ACTION_BOOT_COMPLETED that is broadcast after the system finishes booting
    See also: https://developer.android.com/reference/android/Manifest.permission.html#RECEIVE_BOOT_COMPLETED
    See also: https://stackoverflow.com/a/35268699/4107440
    -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".PlaceToRemindApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".PlaceToRemindActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ReminderDescriptionActivity" />

        <receiver
            android:name=".geofence.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            />

        <service
            android:name=".geofence.GeofenceTransitionsJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />

        <!-- The API key for Google Maps-based APIs is defined as a string resource. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"
            />
    </application>

</manifest>